*{
    margin: 0rem;
    box-sizing: border-box;
}

html{
    field-sizing: 62.5%;
    
}
body{font-size: 1.6rem;}
/** Titulo arriba **/
h1 > span{
    color: darkmagenta;
}

h1{
    padding: 2rem;
}
.texto-centrado{text-align: center;}
/** Menu interactivo**/
nav{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-top: 0.1rem solid black;
    padding: 1.5rem;
}
nav >a{
    text-decoration: none;
    color: black;
}