*{
    margin: 0rem;
    box-sizing: border-box;
}

html{
    field-sizing: 62.5%;
    
}
body{font-size: 1.6rem;}
/** Titulo arriba **/
h1 > span{
    color: darkmagenta;
}

h1{
    padding: 2rem;
}
.texto-centrado{text-align: center;}
/** Menu interactivo**/
nav{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-top: 0.1rem solid black;
    padding: 1.5rem;
}
nav >a{
    text-decoration: none;
    color: black;
}

video{
width: 40%;
margin-left: 30%;
display: flex;
justify-content: center;
align-items: center;
max-width: 100%;
height: auto;
}
/**imagen de abajo**/
.img-fondo{
    background-image: url(./Imagenes/retro-game.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 60rem;
 }