*{
    margin: 0rem;
    box-sizing: border-box;
}

html{
    field-sizing: 62.5%;
    
}
body{font-size: 1.6rem;}
/** Titulo arriba **/
h1 > span{
    color: darkmagenta;
}

h1{
    padding: 2rem;
}
.texto-centrado{text-align: center;}
/** Menu interactivo**/
nav{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-top: 0.1rem solid black;
    padding: 1.5rem;
}
nav >a{
    text-decoration: none;
    color: black;
}
/** Imagen que hay arriba en inicio **/
.img-cabecera{
    background-image: url(Imagenes/best-retro-games.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 30rem;
 }
 /** Contenido de productos principales **/
 main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 2rem;
    margin: 2rem auto 2rem auto;
    width: 80%;
 }

 section >img{
    max-width: 100%;
    height: ;
 }
 /** Seccion pseudo class**/
 .peudo-class{
    width: 80%;
    margin: 2rem auto;
    column-count: 3;
    column-gap: 2rem;
    column-rule: 0.2rem black;
 }

 p::first-letter{
    font-size: 4rem;
    color: darkviolet;
 }
 p::selection{background-color: violet;}

 .img-fondo{
    background-image: url(./Imagenes/retro-game.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 60rem;
 }

 @media (max-widht:40rem){
    nav{
        flex-direction: colum;
        background-color: blueviolet;
    }
    nav >a{padding: 1rem;}
    main{grid-template-columns: repeat(1,1fr);}
    .peudo-class{ column-count: 1;}
}

